.card {
  padding: 2em;
  display: flex;
  justify-content: center;

}

.card-1 h2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;

}

.read-the-docs {
  color: #888;
}

.button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  
  background-color: #FDC913;

}
.card {
  width: 55.8vw; 
  height: 43.4vh; 
  margin: 2rem auto 0 auto; 
  display: flex;
  gap: 0.5rem; 
}

.card-left,
.card-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-left .card-image-wrapper {
  flex: 1;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-right .card-image-wrapper {
  flex: 1;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-content {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.card-content h2 {
  margin: 0;
  font-size: 2rem;
  line-height: 1.2;
 
  
}
.kart-1{
  font-size: 3rem!important;
  font-family: Quattrocento;
}


.card-content p {
  margin: 0;
  font-size: 1rem;
}
.button1 {
  background: white;
  
}
.red-text {
  color: #F40000;
  font-style: normal;
  font-size: 1.5rem;
}

.black-text {
  color: black;
  font-style: normal;
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1.5rem;
  margin: 0;
  color: black;
}
.button1 {
  color: red;
  width: 80%;
  font-size: 1rem;
  border-radius: 2rem;
  
    
}
.button2{
  color: red;
  background: white;
  width: 100%;
  border-radius: 2rem;
  font-size: 0.7rem;
}
.card-content2 h2 {
  font-size: 1.5rem;
}
.card-content2 p {
  font-size: 1.5rem;
  
}