.order-success-container {
  position: relative;
  width: 100%;
  height: auto;
}

.success-bg {
  width: 100%;
  height: auto;
  display: block;
}

.success-content {
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: white;
  text-align: center;
  
  padding: 30px;
  border-radius: 12px;
  width: 60%;
  max-width: 500px;
}

.total-box {
  margin-top: 20px;
  border: 1px solid #ffffffaa; 
  padding: 15px;
  border-radius: 8px;
  background: transparent; 
  color: #fff; 
}

.total-line {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  color: #fff; 
}

.bold {
  font-weight: bold;
}

